@model CRUDNet7MVC.Models.Contacto

@{
    ViewData["Title"] = "Detalle de contacto";
}

<h1 class="text-center">Contacto con .NET 7 MVC</h1>

<div class="row">
    <div class="offset-12">
        <div class="card border">
            <div class="card-header bg-dark">
                <h3 class="text-white"><strong>Detalle de usuario</strong></h3>
            </div>
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item"><strong>Nombre: </strong>@Html.DisplayFor(m => m.Nombre)</li>
                    <li class="list-group-item"><strong>Teléfono: </strong>@Html.DisplayFor(m => m.Telefono)</li>
                    <li class="list-group-item"><strong>Celular: </strong>@Html.DisplayFor(m => m.Celular)</li>
                    <li class="list-group-item"><strong>Email: </strong>@Html.DisplayFor(m => m.Email)</li>
                </ul>
                <br />
                <a asp-controller="Inicio" asp-action="Index"><i class="bi bi-arrow-left-circle-fill"></i>&nbsp;Volver</a>
            </div>
        </div>
    </div>
</div>
